#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav {
  background-color: aquamarine;
  margin-bottom: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding: 1rem;
  font-size: 1.6rem;
}

nav ul li a {
  text-decoration: none;
  color: red;
  float: right;
}
